In [11]:
import yfinance as yf
from datetime import date,timedelta,datetime

In [12]:
aapl = yf.Ticker("aapl")

In [13]:
today = date.today()
print(today)

2022-09-16

In [31]:
yesterday = today - timedelta(days=1)
day_before= today - timedelta(days=2)

# CREATING A DATE

In [9]:
now = datetime.now()
print(now)

year = now.strftime("%Y")
print(year)

month = now.strftime("%m")
print(month)

day = now.strftime("%d")
print(day)

2022-09-16 15:42:29.936053
2022
09
16

In [10]:
yest = now - timedelta(days=1)
print(yest)

2022-09-15 15:42:29.936053

In [32]:
string_yesterday = print(yesterday)
string_day_before = print(day_before)

2022-09-09
2022-09-08

In [15]:
# Get today's date
today = date.today()
print("Today is: ", today)
 
# Yesterday date
yesterday = today - timedelta(days = 1)
print("Yesterday was: ", yesterday)

two_days_ago = today - timedelta(days = 2)
print("Two days ago was: ", two_days_ago)

Today is:  2022-09-16
Yesterday was:  2022-09-15
Two days ago was:  2022-09-14

In [45]:
aapl_historical = aapl.history(start="2022-09-08", end="2022-09-09", interval="1d")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-08,154.639999,156.360001,152.679993,154.460007,84923800,0,0

## Data Retrieved for a single day for updating Postgre Database

In [16]:
aapl_historical = aapl.history(start=two_days_ago, end=yesterday, interval="1d")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-14,154.789993,157.100006,153.610001,155.309998,87965400,0,0

In [17]:
## TRY on Monday 

aapl_historical = aapl.history(start=yesterday, end=today, interval="1d")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-15,154.649994,155.240005,151.380005,152.369995,90481100,0,0

In [18]:
# TYPE 2
aapl_historical = aapl.history(start=yest, end=now, interval="1d")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-15,154.649994,155.240005,151.380005,152.369995,90481100,0,0